<div [class]="headerStyle">
  {{ title }}
  <span class="xOTB-close" [innerHTML]="close" (click)="modal.hide()"></span>
</div>
<div [class]="bodyStyle">
  <div *ngIf="content">{{ content }}</div>

  <ng-template #dynamic></ng-template>
</div>
<div [class]="footerStyle">
  <div>
    <button
      type="button"
      [class]="btnStyle"
      (click)="
        modal.hide();
        modalService.setModalButtonAction({ modelLevel: 2, label: 'Close' })
      "
    >
      Close
    </button>
    <button
      type="button"
      *ngIf="isNextModalRequired"
      [class]="btnStyle"
      (click)="
        modal3.show();
        modalService.setModalButtonAction({
          modelLevel: 2,
          label: 'Next'
        })
      "
    >
      Next
    </button>
    <button
      type="button"
      [class]="btnStyle"
      (click)="
        save();
        modalService.setModalButtonAction({ modelLevel: 2, label: 'Save' })
      "
    >
      Save
    </button>
  </div>
</div>
<app-modal-xOTB
  [buttonGroup]="buttonGrp"
  [current]="'modal3'"
  [previous]="'modal2'"
  #modal3
>
  <!-- Third Modal Component-->
  <app-third-component
    [modal]="modal3"
    [modalOptions]="modalWindowOptions"
  ></app-third-component>
</app-modal-xOTB>
