<div class="xotb-view-container">
  <h1 class="heading">Slider</h1>
  <p class="description">
    Slider allow the user specify a numeric value which must be no less than a
    given value, and no more than another given value.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view" style="padding-left: 10px; padding-right:10px">
        <xotb-slider [(value)]="value" label=""></xotb-slider>
      </div>
    </xotb-panel>
  </div>
</div>
