<div class="xotb-view-container">
  <h1 class="heading">Slider</h1>
  <p class="description">
    The Sliders have become the de facto standard UI control for selecting a
    value or a range of values. A Slider is helpful because it allows the users
    to explore and make selections quickly from a range of available options.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view" style="padding-left: 10px; padding-right:10px">
        <span>Range Slider</span><br />
        <xotb-slider [(value)]="value" label=""></xotb-slider>
      </div>
    </xotb-panel>
  </div>
</div>
