<div class="xotb-view-container">
  <h1 class="heading">Spinner</h1>
  <p class="description">
    This component can be used to generate dynamic animations of various sizes
    and colors, that should be shown when retrieving data or performing slow
    computations.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="spinner-wrapper panel-view">
        <table>
          <tr>
            <td>
              <xotb-spinner
                alternativeText="Loading"
                size="xx-small"
              ></xotb-spinner>
            </td>
            <td>XX-Small</td>
          </tr>
          <tr>
            <td>
              <xotb-spinner
                alternativeText="Loading"
                size="x-small"
              ></xotb-spinner>
            </td>
            <td>X-Small</td>
          </tr>
          <tr>
            <td>
              <xotb-spinner
                alternativeText="Loading"
                size="small"
              ></xotb-spinner>
            </td>
            <td>Small</td>
          </tr>
          <tr>
            <td>
              <xotb-spinner alternativeText="Loading"></xotb-spinner>
            </td>
            <td>Medium</td>
          </tr>
          <tr>
            <td>
              <xotb-spinner
                alternativeText="Loading"
                size="large"
              ></xotb-spinner>
            </td>
            <td>Large</td>
          </tr>
        </table>
      </div>
    </xotb-panel>
  </div>
</div>
<!-- <button type="button" xotbButton (click)="change()">Change</button> -->
