<div class="xotb-view-container">
  <h1 class="heading">Spinner</h1>
  <p class="description">
    This component can be used to generate dynamic animations of various sizes
    and colors, that should be shown when retrieving data or performing slow
    computations.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="spinner-wrapper panel-view">
        <xotb-spinner alternativeText="Loading" size="xx-small"></xotb-spinner>
        <xotb-spinner alternativeText="Loading" size="x-small"></xotb-spinner>
        <xotb-spinner alternativeText="Loading" size="small"></xotb-spinner>
        <xotb-spinner alternativeText="Loading"></xotb-spinner>
        <xotb-spinner alternativeText="Loading" size="large"></xotb-spinner>
      </div>
    </xotb-panel>
  </div>
</div>
<!-- <button type="button" xotbButton (click)="change()">Change</button> -->
