.form-group {
  position: relative;
  width: 50%;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 12px;
  margin-bottom: 5px;
}

.form-group .form-control {
  border: 1px solid #e0e0e0;
  font-size: 14px;
}
