<div [class]="headerStyle">
  {{ title }}
  <span class="xOTB-close" [innerHTML]="close" (click)="modal.hide()"></span>
</div>
<div [class]="bodyStyle">
  <div *ngIf="content">{{ content }}</div>

  <ng-template #dynamic></ng-template>
</div>
<div [class]="footerStyle">
  <div>
    <button
      type="button"
      [class]="btnStyle"
      (click)="
        modal.hide();
        modalService.setModalButtonAction({ modelLevel: 1, label: 'Close' })
      "
    >
      Close
    </button>
    <button
      type="button"
      *ngIf="isNextModalRequired"
      [class]="btnStyle"
      (click)="
        modal2.show();
        modalService.setModalButtonAction({
          modelLevel: 1,
          label: 'Next'
        })
      "
    >
      Next
    </button>
    <button
      type="button"
      [class]="btnStyle"
      (click)="
        save();
        modalService.setModalButtonAction({ modelLevel: 1, label: 'Save' })
      "
    >
      Save
    </button>
  </div>
</div>
<app-modal-xOTB
  [buttonGroup]="buttonGrp"
  [current]="'modal2'"
  [previous]="'modal1'"
  #modal2
>
  <!-- Second Modal Component-->
  <app-second-component
    [modal]="modal2"
    [modalOptions]="modalWindowOptions"
  ></app-second-component>
</app-modal-xOTB>
