<div>Variants</div>
<button
  type="button"
  xotbButtonIcon
  iconName="airplay"
  title="Settings (default/border)"
></button>
<button
  type="button"
  xotbButtonIcon
  variant="brand"
  iconName="airplay"
  title="Settings (brand)"
></button>
<button
  type="button"
  xotbButtonIcon
  variant="container"
  iconName="settings"
  title="Settings (container)"
></button>
<div>
  Inverse Variants
</div>
<div style="background-color: #16325c;padding: 10px">
  <button
    type="button"
    xotbButtonIcon
    variant="inverse"
    iconName="settings"
    title="Settings (inverse)"
  ></button>
  <button
    type="button"
    xotbButtonIcon
    variant="border-inverse"
    iconName="settings"
    title="Settings (border-inverse)"
  ></button>
</div>
<div>
  Sizes
</div>
<button
  type="button"
  xotbButtonIcon
  variant="brand"
  iconName="settings"
  title="Settings (container)"
  size="xx-small"
></button>
<button
  type="button"
  xotbButtonIcon
  variant="brand"
  iconName="settings"
  title="Settings (container)"
  size="x-small"
></button>
<button
  type="button"
  xotbButtonIcon
  variant="brand"
  iconName="settings"
  title="Settings (container)"
  size="small"
></button>
<button
  type="button"
  xotbButtonIcon
  variant="brand"
  iconName="settings"
  title="Settings (container)"
></button>
<button
  type="button"
  xotbButtonIcon
  variant="bare"
  iconName="settings"
  title="Settings (container)"
  size="x-small"
></button>
<button
  type="button"
  xotbButtonIcon
  variant="bare"
  iconName="settings"
  title="Settings (container)"
  size="small"
></button>
<button
  type="button"
  xotbButtonIcon
  variant="bare"
  iconName="settings"
  title="Settings (container)"
></button>
<button
  type="button"
  xotbButtonIcon
  variant="bare"
  iconName="settings"
  title="Settings (container)"
  size="large"
></button>
