<div class="xotb-view-container">
  <h1 class="heading">Carousel</h1>
  <p class="description">
    The Carousel is a slideshow for cycling through elements, often used as an
    image or item slider or to facilitate the onboarding experience of a user.
  </p>

  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="">
        <div
          style="width: 1024px;  max-width: 100%; margin-left: auto; margin-right: auto"
        >
          <xotb-carousel [(active)]="active">
            <xotb-carousel-image
              src="assets/images/carousel/img-1.jpg"
              header="First Card"
              description="First card description."
              alternativeText="First card accessible description."
            >
            </xotb-carousel-image>

            <xotb-carousel-image
              src="assets/images/carousel/img-2.jpg"
              header="Second Card"
              description="Second card description."
              alternativeText="Second card accessible description."
            ></xotb-carousel-image>

            <xotb-carousel-image
              src="assets/images/carousel/img-3.jpg"
              header="Third Card"
            ></xotb-carousel-image>
          </xotb-carousel>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
