<div class="xotb-view-container">
  <h1 class="heading">Horizontal Box</h1>
  <p class="description">
    A card is container for a few short, related pieces of information. It
    roughly resembles a playing card in size and shape, and is intended as a
    linked, short representation of a conceptual unit.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div xotbHbox>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
            adipiscing diam donec adipiscing tristique risus nec feugiat. Augue
            eget arcu dictum varius duis. Sed tempus urna et pharetra pharetra
            massa massa ultricies mi. Semper quis lectus nulla at volutpat diam.
            Vel orci porta non pulvinar neque laoreet.
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
            adipiscing diam donec adipiscing tristique risus nec feugiat. Augue
            eget arcu dictum varius duis. Sed tempus urna et pharetra pharetra
            massa massa ultricies mi. Semper quis lectus nulla at volutpat diam.
            Vel orci porta non pulvinar neque laoreet.
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
            adipiscing diam donec adipiscing tristique risus nec feugiat. Augue
            eget arcu dictum varius duis. Sed tempus urna et pharetra pharetra
            massa massa ultricies mi. Semper quis lectus nulla at volutpat diam.
            Vel orci porta non pulvinar neque laoreet.
          </div>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
