<div>
  HBox
</div>
<div xotbHbox>
  <div
    style="width: 50%; margin-bottom: 10px; border: 1px dashed; padding: 10px;"
  >
    container 1
  </div>
  <div
    style="width: 50%; margin-bottom: 10px; border: 1px dashed; padding: 10px;"
  >
    container 2
  </div>
  <div
    style="width: 50%; margin-bottom: 10px; border: 1px dashed; padding: 10px;"
  >
    container 3
  </div>
  <div
    style="width: 50%; margin-bottom: 10px; border: 1px dashed; padding: 10px;"
  >
    container 4
  </div>
</div>
