.xotb-vbox {
  display: flex;
  flex-direction: column;
}

.xotb-hbox {
  display: flex;
  flex-direction: row;
}

.xotb-card {
  border: 1px solid var(--xotb_common__border-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
