.xotb-button {
  position: relative;
  display: inline-block;
  padding: 0;
  background: 0 0;
  border: 1px solid transparent;
  line-height: 1.875rem;
  text-decoration: none;
  color: $text-color;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.xotb-button_inverse {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $border-color;
  transition: border 0.15s linear;
  background-color: transparent;
}
.xotb-button_neutral {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $border-color;
  transition: border 0.15s linear;
  background-color: $primary-color;
  color: $text-inverse-color;
  &:hover {
    background-color: darken($color: $primary-color, $amount: 10);
  }
}

.xotb-button_brand {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $primary-color;
  transition: border 0.15s linear;
  background-color: darken($color: $primary-color, $amount: 10);
  color: $text-inverse-color;
  &:hover {
    background-color: darken($color: $primary-color, $amount: 20);
  }
}

.xotb-button_outline-brand {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $primary-color;
  color: $primary-color;
  transition: border 0.15s linear;
  background-color: $background-color;
  &:hover {
    background-color: darken($color: $background-color, $amount: 10);
  }
}

.xotb-button_destructive {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $danger-color;
  transition: border 0.15s linear;
  background-color: $danger-color;
  color: $button-destructive-color;
  &:hover {
    background-color: darken($color: $danger-color, $amount: 10);
  }
}

.xotb-button_text-destructive {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $border-color;
  transition: border 0.15s linear;
  background-color: $background-color;
  color: $danger-color;
}
.xotb-button_success {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $button-success-border-color;
  transition: border 0.15s linear;
  color: $text-inverse-color;
  background-color: $button-success-border-color;
  &:hover {
    background-color: darken($color: $button-success-border-color, $amount: 10);
  }
}
.xotb-button + .xotb-button,
.xotb-button + .xotb-button-group,
.xotb-button + .xotb-button-group-list {
  margin-left: 0.25rem;
}

.xotb-button_reset {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  padding: 0;
  background: 0 0;
  border: 0;
  text-align: inherit;
}
