.xotb-button {
  position: relative;
  display: inline-block;
  padding: 0;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: var(--xotb_button__color);
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.xotb-button_inverse {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--xotb_common__border-color);
  transition: border 0.15s linear;
  background-color: transparent;
}
.xotb-button_neutral {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--xotb_common__border-color);
  transition: border 0.15s linear;
  background-color: var(--xotb_common__background-color);
}

.xotb-button_brand {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--xotb_common__primary-color);
  transition: border 0.15s linear;
  background-color: var(--xotb_common__primary-color);
  color: var(--xotb-button_brand__color);
}

.xotb-button_outline-brand {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--xotb_common__border-color);
  transition: border 0.15s linear;
  background-color: var(--xotb_common__background-color);
}

.xotb-button_destructive {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--xotb_common__rejection-color);
  transition: border 0.15s linear;
  background-color: var(--xotb_common__rejection-color);
  color: var(--xotb-button_destructive__color);
}

.xotb-button_text-destructive {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--xotb_common__border-color);
  transition: border 0.15s linear;
  background-color: var(--xotb_common__background-color);
  color: var(--xotb_common__rejection-color);
}
.xotb-button_success {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--xotb-button_success__border-color);
  transition: border 0.15s linear;
  background-color: var(--xotb-button_success__background-color);
  color: var(--xotb-button_success__color);
}
.xotb-button + .xotb-button,
.xotb-button + .xotb-button-group,
.xotb-button + .xotb-button-group-list {
  margin-left: 0.25rem;
}

.xotb-button_reset {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  padding: 0;
  background: 0 0;
  border: 0;
  text-align: inherit;
}
