.xotb-table {
  background-color: $background-color;
  font-size: inherit;
}
.xotb-table_bordered {
  border-collapse: separate;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
.xotb-table_fixed-layout {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.xotb-table td,
.xotb-table th {
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  position: relative;
}
.xotb-table th {
  font-weight: 400;
}
.xotb-table thead th {
  background-color: rgba($color: $primary-color, $alpha: 0.5);
  color: $text-color;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  line-height: normal;
}
.xotb-th__action {
  display: flex;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  align-items: center;
}
.xotb-text-link--reset,
.xotb-text-link_reset {
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
}
.xotb-grid {
  display: flex;
}

.xotb-has-flexi-truncate {
  flex: 1 1 0%;
  min-width: 0;
}
.xotb-grid_vertical-align-center {
  align-items: center;
  align-content: center;
}
.xotb-is-sortable__icon {
  width: 0.75rem !important;
  height: 0.75rem !important;
  margin-left: 0.25rem;
  display: none;
  color: darken($color: $primary-color, $amount: 20);
}
.xotb-is-sorted {
  .xotb-is-sortable__icon {
    display: inline-block;
  }
}
.xotb-is-sorted_asc {
  .xotb-is-sortable__icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
