.xotb-icon_container {
  display: inline-block;
  border-radius: 0.25rem;
  line-height: 1;
}
.xotb-icon {
  width: 2rem !important;
  height: 2rem !important;
  line-height: 1 !important;
  fill: #fff;
}

.xotb-icon_xx-small {
  width: 0.875rem !important;
  height: 0.875rem !important;
  line-height: 1;
}
.xotb-icon_x-small {
  width: 1rem !important;
  height: 1rem !important;
  line-height: 1;
}
.xotb-icon_small {
  width: 1.5rem !important;
  height: 1.5rem !important;
  line-height: 1;
}
.xotb-icon_large {
  width: 3rem !important;
  height: 3rem !important;
  line-height: 1;
}
