.xotb-button_icon-small {
  width: 1.5rem;
  height: 1.5rem;
}
.xotb-button--icon,
.xotb-button--icon-bare,
.xotb-button--icon-border,
.xotb-button--icon-border-filled,
.xotb-button--icon-border-inverse,
.xotb-button--icon-container,
.xotb-button--icon-error,
.xotb-button--icon-inverse,
.xotb-button--icon-more,
.xotb-button_icon,
.xotb-button_icon-bare,
.xotb-button_icon-border,
.xotb-button_icon-border-filled,
.xotb-button_icon-border-inverse,
.xotb-button_icon-container,
.xotb-button_icon-error,
.xotb-button_icon-inverse,
.xotb-button_icon-more {
  line-height: 1;
  vertical-align: middle;
  color: #706e6b;
}
