.xotb-listbox {
  font-size: 0.8125rem;
}

.xotb-media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.xotb-media--center,
.xotb-media_center {
  align-items: center;
}
.xotb-listbox--vertical .xotb-listbox__option--plain,
.xotb-listbox--vertical .xotb-listbox__option_plain,
.xotb-listbox_vertical .xotb-listbox__option--plain,
.xotb-listbox_vertical .xotb-listbox__option_plain {
  padding: 0.5rem 0.75rem;
}
.xotb-listbox--vertical .xotb-listbox__option.xotb-has-focus,
.xotb-listbox--vertical .xotb-listbox__option:focus,
.xotb-listbox--vertical .xotb-listbox__option:hover,
.xotb-listbox_vertical .xotb-listbox__option.xotb-has-focus,
.xotb-listbox_vertical .xotb-listbox__option:focus,
.xotb-listbox_vertical .xotb-listbox__option:hover {
  background-color: $primary-color;
  text-decoration: none;
  color: $white;
  .xotb-listbox__option-icon {
    color: $white;
  }
}
.xotb-listbox__option-icon {
  width: 1.5rem;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: $primary-color;
}
.xotb-media__figure {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0.75rem;
}
.xotb-media--small .xotb-media__figure,
.xotb-media_small .xotb-media__figure {
  margin-right: 0.25rem;
}
.xotb-media__body,
.xotb-media__body > :last-child {
  margin-bottom: 0;
}
.xotb-media__body {
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}
