.xotb-dropdown {
  position: absolute;
  z-index: 7000;
  left: 50%;
  float: left;
  min-width: 6rem;
  max-width: 20rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
  font-size: 0.75rem;
  background: $background-color;
  box-shadow: 0 2px 3px 0 $box-shadow;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.xotb-dropdown-trigger {
  position: relative;
  display: inline-block;
}
.xotb-dropdown__item {
  line-height: 1.5;
  font-weight: 400;
}

.xotb-dropdown_left {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.xotb-dropdown-trigger .xotb-dropdown {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s linear, visibility 0.1s linear;
  top: 100%;
}
.xotb-dropdown-trigger_click .xotb-dropdown,
.xotb-dropdown-trigger_click:hover .xotb-dropdown {
  display: none;
}
.xotb-dropdown-trigger_click.xotb-is-open .xotb-dropdown {
  display: block;
  visibility: visible;
  opacity: 1;
}
.xotb-dropdown__item > a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  color: #080707;
  white-space: nowrap;
  cursor: pointer;
}
.xotb-dropdown_fluid {
  min-width: auto;
  max-width: 100%;
  width: 100%;
}
.xotb-dropdown_length-5 {
  -webkit-overflow-scrolling: touch;
  max-height: calc(((0.8125rem * 1.5) + 1rem) * 5);
  overflow-y: auto;
}
