.xotb-panel {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  &.xotb-is-open {
    .xotb-panel__content {
      padding-top: 0.5rem;
      overflow: visible;
      visibility: visible;
      opacity: 1;
      height: auto;
      border: 1px solid
        darken($color: $primary-color, $amount: $border-darken-amount);
      padding: 1rem;
    }
  }
}
.xotb-panel__title {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  line-height: 1.875rem;
  border: 1px solid
    darken($color: $primary-color, $amount: $border-darken-amount);
}
.xotb-panel__title-action {
  display: flex;
  align-items: center;
  background: $primary-color;
  cursor: pointer;
  width: 100%;
  text-align: left;
  color: currentColor;
  font-size: inherit;
  padding: 0 0.5rem;
  height: 3rem;
}
.xotb-panel__content {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
