.xotb-radio {
  display: block;
  // prettier-ignore
  [type=radio] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  // prettier-ignore
  [type=radio] + .xotb-radio__label {
    .xotb-radio_faux {
      margin-right: 0.5rem;
    }
  }
  .xotb-radio_faux {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid $border-color;
    border-radius: 50%;
    background: $background-color;
    transition: border 0.1s linear, background-color 0.1s linear;
  }
}

.xotb-radio {
  // prettier-ignore
  [type=radio]:checked + .xotb-radio--faux:after,
  [type=radio]:checked + .xotb-radio__label .xotb-radio--faux:after,
  [type=radio]:checked + .xotb-radio__label .xotb-radio_faux:after,
  [type=radio]:checked + .xotb-radio_faux:after,
  [type=radio]:checked ~ .xotb-radio--faux:after,
  [type=radio]:checked ~ .xotb-radio_faux:after {
    width: 0.5rem;
    height: 0.5rem;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    background: $primary-color;
  }
}

.xotb-has-error {
  .xotb-radio {
    // prettier-ignore
    [type=radio]:checked + .xotb-radio--faux:after,
    [type=radio]:checked + .xotb-radio__label .xotb-radio--faux:after,
    [type=radio]:checked + .xotb-radio__label .xotb-radio_faux:after,
    [type=radio]:checked + .xotb-radio_faux:after,
    [type=radio]:checked ~ .xotb-radio--faux:after,
    [type=radio]:checked ~ .xotb-radio_faux:after {
      background: $danger-color;
    }
  }
}

//prettier-ignore
.xotb-has-error .xotb-radio [type=radio] + .xotb-radio--faux,
.xotb-has-error
  .xotb-radio
  [type=radio]
  + .xotb-radio__label
  .xotb-radio--faux,
.xotb-has-error
  .xotb-radio
  [type=radio]
  + .xotb-radio__label
  .xotb-radio_faux,
.xotb-has-error .xotb-radio [type=radio] + .xotb-radio_faux,
.xotb-has-error .xotb-radio [type=radio] ~ .xotb-radio--faux,
.xotb-has-error .xotb-radio [type=radio] ~ .xotb-radio_faux {
  border-color: $danger-color;
  border-width: 2px;
}
