.xotb-notify_toast {
  color: var(--xotb-notify_toast__color);
  display: inline-flex;
  align-items: center;
  position: relative;
  background: var(--xotb-notify_toast__background);
  font-weight: 300;
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 0.75rem 3rem 0.75rem 1.5rem;
  min-width: 30rem;
  text-align: left;
  justify-content: flex-start;
  .xotb-notify__close {
    float: right;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    margin-left: 0.25rem;
    -webkit-transform: translateY(-0.125rem);
    transform: translateY(-0.125rem);
  }
}
.xotb-theme_info {
  color: var(--xotb-notify_toast__color);
  background-color: var(--xotb-theme_info__background);
}
.xotb-theme_success {
  color: var(--xotb-notify_toast__color);
  background-color: var(--xotb-theme_success__background);
}
.xotb-theme_warning {
  background-color: var(--xotb-theme_warning__background);
  color: var(--xotb-theme_warning__color);
}
.xotb-theme_error {
  color: var(--xotb-notify_toast__color);
  background-color: var(--xotb_common__rejection-color);
}
.xotb-notify_container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  text-align: center;
}
