.xotb-tree {
  ul {
    padding-left: 16px;
    li.xotb-tree-node-active {
      > .xotb-node-label {
        background: #3498db;
        padding-right: 5px;
        margin-left: 5px;
      }
    }
  }
  xotb-icon {
    .xotb-tree_icon__folder_fill {
      fill: #3498db !important;
    }
    .xotb-tree_icon__file_fill {
      fill: none;
    }
  }
}
