<xotb-panel open="true" title="Icon Buttons">
  <div class="panel-heading">Variants</div>
  <div class="panel-body">
    <button
      type="button"
      xotbIconButton
      iconName="settings"
      title="Settings (default/border)"
    ></button>
    <button
      type="button"
      xotbIconButton
      variant="brand"
      iconName="settings"
      title="Settings (brand)"
    ></button>
    <button
      type="button"
      xotbIconButton
      variant="container"
      iconName="settings"
      title="Settings (container)"
    ></button>
  </div>
  <div class="panel-heading">
    Sizes
  </div>
  <div class="panel-body">
    <button
      type="button"
      xotbIconButton
      variant="brand"
      iconName="settings"
      title="Settings (container)"
      size="xx-small"
    ></button>
    <button
      type="button"
      xotbIconButton
      variant="brand"
      iconName="settings"
      title="Settings (container)"
      size="x-small"
    ></button>
    <button
      type="button"
      xotbIconButton
      variant="brand"
      xotbIconButton
      variant="brand"
      iconName="settings"
      title="Settings (container)"
      size="small"
    ></button>
    <button
      type="button"
      xotbIconButton
      variant="brand"
      iconName="settings"
      title="Settings (container)"
    ></button>
    <button
      type="button"
      xotbIconButton
      variant="bare"
      iconName="settings"
      title="Settings (container)"
      size="x-small"
    ></button>
    <button
      type="button"
      xotbIconButton
      variant="bare"
      iconName="settings"
      title="Settings (container)"
      size="small"
    ></button>
    <button
      type="button"
      xotbIconButton
      variant="bare"
      iconName="settings"
      title="Settings (container)"
    ></button>
    <button
      type="button"
      xotbIconButton
      variant="bare"
      iconName="settings"
      title="Settings (container)"
      size="large"
    ></button>
  </div>
</xotb-panel>
