<div class="xotb-view-container">
  <h1 class="heading"><strong>Icon Button</strong></h1>
  <p class="description">
    An Icon Button allows the user to take actions and make choices, with a
    single click/tap. It can be used to toggle between an on and off icon.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div class="panel-heading">Variants</div>
        <div class="panel-body">
          <button
            type="button"
            xotbIconButton
            iconName="codepen"
            title="Settings (default/border)"
          ></button>
          <button
            type="button"
            xotbIconButton
            variant="brand"
            iconName="codepen"
            title="Settings (brand)"
          ></button>
          <button
            type="button"
            xotbIconButton
            variant="container"
            iconName="codepen"
            title="Settings (container)"
          ></button>
        </div>
        <div class="panel-heading">
          Sizes
        </div>
        <div class="panel-body">
          <button
            type="button"
            xotbIconButton
            variant="brand"
            iconName="codepen"
            title="Settings (container)"
            size="xx-small"
          ></button>
          <button
            type="button"
            xotbIconButton
            variant="brand"
            iconName="codepen"
            title="Settings (container)"
            size="x-small"
          ></button>
          <button
            type="button"
            xotbIconButton
            variant="brand"
            xotbIconButton
            variant="brand"
            iconName="codepen"
            title="Settings (container)"
            size="small"
          ></button>
          <button
            type="button"
            xotbIconButton
            variant="brand"
            iconName="codepen"
            title="Settings (container)"
          ></button>
          <button
            type="button"
            xotbIconButton
            variant="bare"
            iconName="codepen"
            title="Settings (container)"
            size="x-small"
          ></button>
          <button
            type="button"
            xotbIconButton
            variant="bare"
            iconName="codepen"
            title="Settings (container)"
            size="small"
          ></button>
          <button
            type="button"
            xotbIconButton
            variant="bare"
            iconName="codepen"
            title="Settings (container)"
          ></button>
          <button
            type="button"
            xotbIconButton
            variant="bare"
            iconName="codepen"
            title="Settings (container)"
            size="large"
          ></button>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
