<div class="xotb-view-container">
  <h1 class="heading">Tree</h1>
  <p class="description">
    Tree is a graphical control element that presents a hierarchical view of
    information. Each item (often called a branch or a node) can have a number
    of subitems
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div class="tree-wrapper">
          <xotb-tree
            [treeData]="nodes"
            (onSelect)="handleSelect($event)"
          ></xotb-tree>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
