<h2>Iconography</h2>

<p>
  We use symbols and icons to re-authorize our content. Iconography keeps up
  context between views, gives clearness and direction to actions, and decreases
  the cognitive burden for users.
</p>
<p>
  xOTB V2 leverages the very popular icon framework Feather Icons. Each icon is
  designed on a 24x24 grid with an emphasis on simplicity, consistency and
  usability. With over 200 beautiful and easy to use SVG icons, you are a few
  stones away to craft clear and communicative UI.
</p>
<p>
  To get started, refer
  <a href="../?path=/story/the-components-components-controls--icons">Icons</a>
  component.
</p>

<iframe #feather src="https://feathericons.com/" width="100%" allowfullscreen>
</iframe>
