

/* .xOTB-modal-body {
  max-height:50vh !important;
    min-height: 25vh !important;
    overflow: auto !important;
    margin: auto;
}

.xOTB-modal-header {
  max-height: 10vh !important;
  background-color: rgb(200, 217, 226) !important;
  color: black !important;
  border:10 solid rgba(0,0,0,0.5);
}

.xOTB-modal-footer {
  height: 100% !important;
  max-height:10vh !important; 
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
/* The Close Button */
/* .xOTB-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.xOTB-close:hover,
.xOTB-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */

/* .xOTB-instruction {
    margin:10px;
    top:10px;
  }

  .xOTB-btn {
    white-space: normal !important
  } */