
.xOTB-options-container{
    display:inline-block;
    min-width:19em;
    height: 30px;
    text-align: center;
}
.xOTB-options-container select{
    min-width: 9.5em;
    height: 25px;
}
.xOTB-sub-option-container{
    display: inline-block;
}
.xOTB-sub-option-container select{
    min-width: 9.5em;
    height: 25px;
}
.xOTB-add-delete-button{
    width: auto;
    height: 25px;
    margin: 0.5em;
}
.mainSelectorStyle{
  background-color: transparent
}
.mainOptionStyle{
  background-color: transparent
}
.subSelectorStyle{
  background-color: transparent
}
.subOptionStyle{
  background-color:transparent
}
.containerStyle{
  max-width: fit-content;
  border:1px black solid;
  border-radius: 5pt;
  overflow: hidden;
  margin: 1em;
}
.headerStyle{
  border-bottom:1px black solid;
  background: rgb(200, 217, 226);
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}