.radio-bt{
    margin-left: 10px;
}
.div-form{
  text-align: start !important;
}

.form-select{
  text-align: start;
}

.xOTB-text-center{
  text-align: center;
  border-bottom: 1px solid lightslategrey;
}

.parent-div{
  width: fit-content;
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5pt;
  width: fit-content
}
.form-div{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
  width:fit-content;
}
.form-div button{
  background-color: rgb(200, 217, 226);
  border:1px solid lightslategray;
  margin: 0.5em;
}
.form-div button:hover{
  border:1px solid mediumblue;
}
.button-div{
  width: fit-content;
  margin: auto;
  padding-top:2em;
}