<div fxLayout="row" fxFlexAlign="center" fxFlex="100">
  <div fxLayout="column" style="margin:auto;width:100%;">
    <form #UserLogin="ngForm">

      <div fxLayout="row wrap" fxFlexAlign="center" fxFlex="100" class="form-select" fxLayoutGap="10px">
        <ng-container *ngFor="let data of jsonFormData">

          <mat-radio-group *ngIf="data.type == 'radio'" [(ngModel)]="data.selectedValue"
            [ngModelOptions]="{standalone: true}" [fxFlex]="fxPercent" >
            <mat-radio-button *ngFor="let obj of data.values;let i = index;" [value]="obj.name"
              [ngClass]="{'radio-bt':(i !== 0)}">
              {{ obj.name }}
            </mat-radio-button>
          </mat-radio-group>

          <div *ngIf="data.tag === 'input' && data.type == 'checkbox'" [fxFlex]="fxPercent" >
            <div fxLayout="row wrap" fxLayoutGap="10px">
              <div *ngFor="let obj of data.values">
                <mat-checkbox [(ngModel)]='obj.selected' [ngModelOptions]="{standalone: true}">
                  {{ obj.name }}
                </mat-checkbox>
              </div>
            </div>
          </div>

          <div *ngIf="data.tag === 'input' && chechType(data)" [fxFlex]="fxPercent" >
              <mat-form-field
              appearance="outline" [ngStyle]="{'max-width.px': 210}">
                <mat-label>{{data?.label}}</mat-label>
                <input matInput [placeholder]="data.placeholder" type="password" *ngIf="data.type==='password'"
                  [(ngModel)]="data.value" [ngModelOptions]="{standalone: true}">
                <input matInput [placeholder]="data.placeholder" *ngIf="data.type!=='password'" [(ngModel)]="data.value"
                  [ngModelOptions]="{standalone: true}">
              </mat-form-field>
          </div>
         

          <div *ngIf="data.tag === 'select'" [fxFlex]="fxPercent">
              <mat-form-field class="mat-field-sort form-select" 
              [ngStyle]="{'max-width.px': 210}">
               <mat-label>{{ data?.label }}</mat-label>
               <mat-select [(value)]="data.selectedValue">
                 <mat-option [value]="">{{ data?.label }}</mat-option>
                 <ng-container *ngFor="let obj of data.values">
                   <mat-option [value]="obj.value"> {{ obj.name }}</mat-option>
                 </ng-container>
               </mat-select>
             </mat-form-field>
          </div>

            

          <div fxLayout="row" *ngIf="data.tag === 'button'" fxFlex="100">
            <div style="margin: auto; padding-top:10px;"> 
                <ng-container *ngFor="let btn of data.buttons">
                    <button mat-button (click)="onButtonClick(btn)">{{ btn.name }}</button>
                  </ng-container>
            </div>
           
          </div>


        </ng-container>
      </div>
    </form>
  </div>
</div>