<!--The content below is only a placeholder and can be replaced.-->
<app-multi-select-value class="xOTB-margin" [selectorOptions]="selectorOptions"
  (onChange)="onChange($event)" (onChangeSubOption)="onChangeSubOption($event)"
  (addFormControl)="addFormControl($event)" (deleteControl)="deleteControl($event)">
</app-multi-select-value>
<accordion-group [title]="'first accordion'">
  <h4>content</h4>
</accordion-group>
<app-modal class="xOTB-margin" [modalOptions]="modalOptions"></app-modal>
<app-pagination class="xOTB-margin"></app-pagination>
<app-speedo-meter class="xOTB-margin" (selectedValue)="onSpeedMeter($event)"></app-speedo-meter>
<app-modal class="xOTB-margin" [modalOptions]="modalOptions"></app-modal>
<app-dynamic-form (formValue)="onAppDynamicForm($event);" class="xOTB-margin"></app-dynamic-form>
<app-modal class="xOTB-margin" [modalOptions]="modalOptions"></app-modal>
<app-form-generator [jsonFormData]='formJson' (btnEvent)="onDynamicFormButtonInfor($event)"></app-form-generator>
<app-image-slider [imagesData]='imagesData' (currentImage)="onImageSelected($event);"></app-image-slider>
<app-indetermine-tree class="xOTB-margin"></app-indetermine-tree>
<div class="parent">Context Menu Area
  <app-context-menu [data]=data (optionClick)="contextMenuclick($event)" (closed)="contextMenuclick($event)"></app-context-menu>
</div>



