h1.main-heading {
  font-size: 1.5rem;
  margin: 10px 0;
}

p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul li {
  list-style-type: disc;
  margin-left: 20px;
}

h1.heading {
  font-size: 1.3rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
}

.col {
  grid-column: span 1;
}

@media (max-width: 1200px) {
  .col {
    grid-column: span 2;
  }
}

@media (max-width: 1000px) {
  .col {
    grid-column: span 3;
  }
}

.color_item {
  margin: 5px;
  border: 1px solid #e0e0e0;
}

.col-box {
  height: 70px;
}

.color_item p {
  font-size: 12px;
  line-height: 20px;
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.6);
}

.col-text {
  margin-top: 8px;
}
