<div class="xotb-view-container">
  <h1 class="heading">Card</h1>
  <p class="description">
    A card is container for a few short, related pieces of information. It
    roughly resembles a playing card in size and shape, and is intended as a
    linked, short representation of a conceptual unit.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div class="row">
          <div class="column">
            <div xotbCard class="card">
              <div class="card-image">
                <img width="100%" src="assets/images/card/43.jpg" alt="" />
              </div>
              <div class="card-header">
                <h4 class="card-title">Card Title</h4>
              </div>
              <div class="card-body">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </div>
            </div>
          </div>
          <div class="column">
            <div xotbCard class="card">
              <div class="card-image">
                <img width="100%" src="assets/images/card/card-2.jpg" alt="" />
              </div>
              <div class="card-header">
                <h4 class="card-title">Card Title</h4>
              </div>
              <div class="card-body">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </div>
            </div>
          </div>
          <div class="column" class="card">
            <div xotbCard>
              <div class="card-image">
                <img width="100%" src="assets/images/card/43.jpg" alt="" />
              </div>
              <div class="card-header">
                <h4 class="card-title">Card Title</h4>
              </div>
              <div class="card-body">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </div>
            </div>
          </div>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
