<ng-template #tip
  ><strong> {{ placement }} placement. Initially open!</strong> Dolor sit
  amet,<i>consectetur adipisicing</i> elit. Cum, quaerat?</ng-template
>
<div>
  Quisque scelerisque lectus vel sodales semper. Sed<a
    [xotbTooltip]="tip"
    [xotbTooltipPlacement]="placement"
    [(xotbTooltipOpen)]="open"
  >
    hover</a
  >
  vehicula sapien, vitae tristique nisl viverra vitae. Aliquam erat volutpat. Ut
  accumsan metus vel hendrerit sagittis.
</div>
<div class="slds-button-group slds-m-top_xx-large" role="group">
  <button type="button" xotbButton (click)="change()">Change placement</button>
  <button type="button" xotbButton (click)="open = !open">Toggle</button>
</div>
<div class="slds-m-top_x-large">
  <span
    xotbTooltip="...which always keep showing!"
    xotbTooltipOpen="true"
    xotbTooltipPlacement="right"
    >You can also make tooltips</span
  >
</div>
