<ng-template #tip
  ><strong> {{ placement }} placement. Initially open!</strong> Dolor sit
  amet,<i>consectetur adipisicing</i> elit. Cum, quaerat?</ng-template
>

<div class="xotb-view-container">
  <h1 class="heading"><strong>Tooltips</strong></h1>
  <p class="description">
    Check Boxes allow the user to select one or more items from a given set.
  </p>

  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div>
          Quisque scelerisque lectus vel sodales semper. Sed<a
            [xotbTooltip]="tip"
            [xotbTooltipPlacement]="placement"
            [(xotbTooltipOpen)]="open"
          >
            hover</a
          >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <br />
        <br />
        <div class="xotb-button-group xotb-m-top_xx-large" role="group">
          <button type="button" xotbButton (click)="open = !open">
            Toggle
          </button>
        </div>
        <br />
        <div class="xotb-m-top_x-large">
          <span
            xotbTooltip="...which always keep showing!"
            xotbTooltipOpen="true"
            xotbTooltipPlacement="right"
            >You can also make tooltips</span
          >
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
