<div class="xotb-view-container">
  <h1 class="heading">Select</h1>
  <p class="description">
    The Select elements defines a list of selections items. The items within the
    menu will be defined using option
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div style="width:200px">
          <xotb-select label="Select Label" [error]="hasError ? error : null">
            <select xotb [required]="required" [disabled]="disabled">
              <option value="">Please select</option>
              <option>Option One</option>
              <option>Option Two</option>
              <option>Option Three</option>
            </select>
          </xotb-select>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
