<div class="xotb-view-container">
  <h1 class="heading">Segment Button</h1>
  <p class="description">
    Make a group of elements behave like a set of radio buttons by using
    xotbSegmentedButton and xotbSegmentedButtonOption. You can alternatively
    make them behave like a set of checkboxes, by attaching the
    xotbSegmentedButtonMultiple directive.
  </p>

  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div class="xotb-text-title_caps xotb-m-bottom_small">
          Single selection
        </div>
        <div class="xotb-m-bottom_small">
          Selected: <code>{{ selected }}</code>
        </div>

        <div
          style="margin-top: 10px"
          class="xotb-button-group"
          [(xotbSegmentedButton)]="selected"
          xotbSegmentedButtonActiveClass="xotb-button_brand"
          role="group"
        >
          <button type="button" xotbButton xotbSegmentedButtonOption="left">
            Left
          </button>
          <button type="button" xotbButton xotbSegmentedButtonOption="middle">
            Middle
          </button>
          <button
            type="button"
            xotbButton
            [xotbSegmentedButtonOption]="'right'"
          >
            Right
          </button>
        </div>
        <div
          style="margin-top: 20px"
          class="xotb-text-title_caps xotb-m-bottom_small xotb-m-top_x-large"
        >
          Multiple selection
        </div>
        <div class="xotb-m-bottom_small">
          Selected: <code>{{ multiple }}</code>
        </div>
        <div
          style="margin-top: 10px"
          class="xotb-button-group"
          [(xotbSegmentedButton)]="multiple"
          xotbSegmentedButtonMultiple
          xotbSegmentedButtonActiveClass="xotb-button_brand"
          role="group"
        >
          <button type="button" xotbButton xotbSegmentedButtonOption="left">
            Left
          </button>
          <button type="button" xotbButton xotbSegmentedButtonOption="middle">
            Middle
          </button>
          <button
            type="button"
            xotbButton
            [xotbSegmentedButtonOption]="'right'"
          >
            Right
          </button>
        </div>

        <div
          style="margin-top: 20px"
          class="xotb-text-title_caps xotb-m-bottom_small xotb-m-top_x-large"
        >
          Multiple selection with object
        </div>
        <div class="xotb-m-bottom_small">
          Selected: <code>{{ multipleObject | json }}</code>
        </div>
        <div
          style="margin-top: 10px"
          class="xotb-button-group"
          [(xotbSegmentedButton)]="multipleObject"
          xotbSegmentedButtonMultiple
          xotbSegmentedButtonActiveClass="xotb-button_brand"
          role="group"
        >
          <button type="button" xotbButton xotbSegmentedButtonOption="left">
            Left
          </button>
          <button type="button" xotbButton xotbSegmentedButtonOption="middle">
            Middle
          </button>
          <button
            type="button"
            xotbButton
            [xotbSegmentedButtonOption]="'right'"
          >
            Right
          </button>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
