<div class="xotb-view-container">
  <h1 class="heading">Autocomplete</h1>
  <p class="description">
    An Auto Completion is a mechanism frequently used in the websites to provide
    the user with a list of suggested options for the beginning of the word,
    which he/she has typed in a text box. The user can then select an item from
    the list to be displayed in the input field.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div style="max-width:300px">
          <xotb-combobox
            label="Who is your favorite superhero?"
            [options]="filteredHeroes$ | async"
            [(open)]="open"
            [(selection)]="superhero"
            variant="lookup"
          >
            <input
              xotbCombobox
              type="text"
              placeholder="Hint: type `man` or `r`"
              [formControl]="inputCtrl"
            />
          </xotb-combobox>

          <div class="xotb-m-top_x-small seleted-hero" *ngIf="superhero">
            My favorite superhero is
            <strong>{{ superhero }}</strong>
          </div>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
