<div class="xotb-view-container">
  <h1 class="heading">Autocomplete</h1>
  <p class="description">
    With Autocomplete the browser automatically complete values based on values
    that the user has entered before
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div style="max-width:300px">
          <xotb-combobox
            label="Who is your favorite superhero?"
            [options]="filteredHeroes$ | async"
            [(open)]="open"
            [(selection)]="superhero"
            variant="lookup"
          >
            <input
              xotbCombobox
              type="text"
              placeholder="Hint: type `man` or `r`"
              [formControl]="inputCtrl"
            />
          </xotb-combobox>

          <div class="xotb-m-top_x-small seleted-hero" *ngIf="superhero">
            My favorite superhero is
            <strong>{{ superhero }}</strong>
          </div>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
