<div class="xotb-view-container">
  <h1 class="heading">Textarea</h1>
  <p class="description">
    Text fields allow the user to input, edit and select text.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <xotb-textarea label="Input Label" [error]="hasError ? error : null">
        <div class="panel-view">
          <textarea
            xotb
            [required]="required"
            [disabled]="disabled"
            placeholder="Placeholder Text"
          ></textarea>
        </div>
      </xotb-textarea>
    </xotb-panel>
  </div>
</div>
