<div class="xotb-view-container">
  <h1 class="heading">Ratings</h1>
  <p class="description">
    Ratings provide an insight regarding users’ opinions and experiences with a
    particular product or an application
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        Value is: {{ value }}
        <xotb-rating
          [(rate)]="value"
          [isReadonly]="readonly"
          [size]="size"
          [colorOn]="color"
        ></xotb-rating>

        <div class="xotb-grid xotb-m-top_large"><br /></div>
        <button
          type="button"
          xotbButton
          variant="destructive"
          (click)="value = 0"
          [disabled]="readonly"
        >
          Clear
        </button>
        <button
          type="button"
          xotbButton
          variant="outline-brand"
          (click)="readonly = !readonly"
        >
          Toggle readonly
        </button>
        <button
          type="button"
          xotbButton
          variant="outline-brand"
          (click)="changeSize()"
        >
          Change Size
        </button>
        <button
          type="button"
          xotbButton
          variant="outline-brand"
          (click)="changeColor()"
        >
          Change Color
        </button>
      </div>
    </xotb-panel>
  </div>
</div>
