<div class="xotb-wrapper">
  <div class="xotb-icon-wrapper">
    <div class="xotb-icon">
      <xotb-icon iconName="codesandbox" size="xx-small"></xotb-icon>
      <p>XX - Small</p>
    </div>
    <div class="xotb-icon">
      <xotb-icon iconName="codesandbox" size="x-small"></xotb-icon>
      <p>X - Small</p>
    </div>
    <div class="xotb-icon">
      <xotb-icon iconName="codesandbox" size="small"></xotb-icon>
      <p>Small</p>
    </div>
    <div class="xotb-icon">
      <xotb-icon iconName="codesandbox"></xotb-icon>
      <p>Medium</p>
    </div>
    <div class="xotb-icon">
      <xotb-icon
        iconName="codesandbox"
        variant="warning"
        size="large"
      ></xotb-icon>
      <p>Large</p>
    </div>

    <!-- <xotb-icon iconName="codesandbox" size="xx-small"></xotb-icon>
<xotb-icon class="xotb-icon" iconName="codesandbox" size="x-small"></xotb-icon>
<xotb-icon class="xotb-icon" iconName="codesandbox" size="small"></xotb-icon>
<xotb-icon class="xotb-icon" iconName="codesandbox"></xotb-icon>
<xotb-icon class="xotb-icon" iconName="codesandbox" variant="warning" size="large"></xotb-icon> -->
  </div>
</div>
