.xotb-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xotb-icon-wrapper {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.xotb-icon {
  border: 1px solid #e0e0e0;
  padding: 10px;
  height: 70px !important;
  width: 100px !important;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.xotb-icon p {
  margin-top: 10px;
}
