<xotb-panel open="true" title="Icons">
  <div class="xotb-wrapper">
    <div class="xotb-icon-wrapper">
      <div class="xotb-icon">
        <xotb-icon iconName="codesandbox" size="xx-small"></xotb-icon>
        <p>XX - Small</p>
      </div>
      <div class="xotb-icon">
        <xotb-icon iconName="codesandbox" size="x-small"></xotb-icon>
        <p>X - Small</p>
      </div>
      <div class="xotb-icon">
        <xotb-icon iconName="codesandbox" size="small"></xotb-icon>
        <p>Small</p>
      </div>
      <div class="xotb-icon">
        <xotb-icon iconName="codesandbox"></xotb-icon>
        <p>Medium</p>
      </div>
      <div class="xotb-icon">
        <xotb-icon iconName="codesandbox" size="large"></xotb-icon>
        <p>Large</p>
      </div>
    </div>
  </div>
</xotb-panel>
