<div class="xotb-view-container">
  <h1 class="heading"><strong>Buttons</strong></h1>
  <p class="description">
    Buttons allow the user to trigger an action or make a selection with a
    single tap or a click. They form an integral part of a UI and are often
    present in dialogs, modal windows, forms, cards and toolbars.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <button xotbButton variant="base">Base</button>
        <button xotbButton variant="neutral">Normal</button>
        <button xotbButton variant="outline-brand">Outline</button>
        <button xotbButton variant="destructive">Danger</button>
        <button xotbButton variant="success">Success</button>
      </div>
    </xotb-panel>
  </div>
</div>
