<div class="xotb-view-container">
  <h1 class="heading">Panel</h1>
  <p class="description">
    An expander control Section can be useful to show and hide panel of your UI
    and therefore, declutter your app
  </p>
  <div class="xotb-panel-container">
    <xotb-panel [(open)]="open" title="Example">
      <div class="panel-view">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
          adipiscing diam donec adipiscing tristique risus nec feugiat. Augue
          eget arcu dictum varius duis. Sed tempus urna et pharetra pharetra
          massa massa ultricies mi. Semper quis lectus nulla at volutpat diam.
          Vel orci porta non pulvinar neque laoreet. Amet facilisis magna etiam
          tempor orci eu. Vitae tortor condimentum lacinia quis vel eros. Lorem
          donec massa sapien faucibus et molestie ac feugiat sed. Sit amet
          luctus venenatis lectus magna fringilla urna. Id ornare arcu odio ut
          sem nulla pharetra diam sit.
        </p>
      </div>
    </xotb-panel>
  </div>
</div>
