<div class="xotb-view-container">
  <h1 class="heading">Popovers</h1>
  <p class="description">
    A Popover can be used to display some content on top of another. It is a
    transient view that shows on a content screen when a user clicks on a
    control button or within a defined area.
  </p>

  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <button
          type="button"
          xotbButton
          [xotbPopover]="tip"
          xotbPopoverPlacement="bottom"
          xotbPopoverHeader="Header"
          xotbPopoverFooter="Footer"
          [(xotbPopoverOpen)]="open"
        >
          Click me
        </button>
        <ng-template #tip
          >Popover lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
          lorem ipsum lorem ipsum</ng-template
        >
      </div>
    </xotb-panel>
  </div>
</div>
