@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-menu-item{
   border-bottom: 1px solid grey !important;
}
.mat-menu-item:last-child{
    border-bottom: none !important;
}
.mat-menu-content:not(:empty){
    padding: 0px !important;
}