<div [class]="headerStyle">
  {{ title }}
  <span class="xOTB-close" [innerHTML]="close" (click)="modal.hide()"></span>
</div>
<div [class]="bodyStyle">
  <div *ngIf="content">{{ content }}</div>

  <ng-template #dynamic></ng-template>
</div>
<div [class]="footerStyle">
  <div [ngClass]="buttonGroup">
    <button
      type="button"
      [class]="btnStyle"
      (click)="
        modal.hide();
        modalService.setModalButtonAction({ modelLevel: 3, label: 'Close' })
      "
    >
      Close
    </button>
    <button
      type="button"
      [class]="btnStyle"
      (click)="
        save();
        modalService.setModalButtonAction({ modelLevel: 3, label: 'Save' })
      "
    >
      Save
    </button>
  </div>
</div>
