<div class="xotb-view-container">
  <h1 class="heading">Tab</h1>
  <p class="description">
    Tabs appear at the top or bottom of a UI and allow the users to quickly
    switch back and forth between the primary sections of the application. Tabs
    can be joined with components like the top app bars, embedded in a specific
    UI region, or nested into components like cards and sheets
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <xotb-tabset [(selected)]="selectedTab" [variant]="variant">
          <ng-template xotb-tab label="Overview"
            ><div style="padding: 10px">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum
            </div>
          </ng-template>
          <xotb-tab
            *ngFor="let detail of details"
            (activate)="tabChange(detail, 'active')"
            (deactivate)="tabChange(detail, 'inactive')"
          >
            <ng-template xotb-tab-label
              >Detail <i>{{ detail }}</i>
            </ng-template>
            <ng-template xotb-tab-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                <b>{{ detail }}</b
                >.
              </p>
              <button
                type="button"
                xotbButton
                variant="destructive"
                (click)="removeDetail(detail)"
              >
                Remove
              </button>
            </ng-template>
          </xotb-tab>
          <ng-template #heading>Summary</ng-template>
          <ng-template id="sum" xotb-tab #summaryTab="xotbTab" [label]="heading"
            ><div style="padding: 10px">
              Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis
              nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis
              nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum
            </div></ng-template
          >
        </xotb-tabset>

        <div class="button-container">
          <hr />
          <button
            type="button"
            xotbButton
            variant="brand"
            (click)="addDetail()"
          >
            Add Detail
          </button>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
