<div class="xotb-view-container">
  <h1 class="heading">Cyan</h1>

  <div class="row">
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #00BCD4"></div>
        <div class="col-text">
          <p>Primary</p>
          <p>
            <span><small>RGBA: </small> rgba(0, 188, 212, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#00BCD4</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #006064"></div>
        <div class="col-text">
          <p>Dark 1</p>
          <p>
            <span><small>RGBA: </small> rgba(0, 96, 100, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#006064</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #0097A7"></div>
        <div class="col-text">
          <p>Dark 2</p>
          <p>
            <span><small>RGBA: </small> rgba(0, 131, 143, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#0097A7</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #26C6DA"></div>
        <div class="col-text">
          <p>Light 1</p>
          <p>
            <span><small>RGBA: </small> rgba(38, 198, 218, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#26C6DA</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #4DD0E1"></div>
        <div class="col-text">
          <p>Light 2</p>
          <p>
            <span><small>RGBA: </small> rgba(77, 208, 225, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#4DD0E1</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #B2EBF2"></div>
        <div class="col-text">
          <p>Light 3</p>
          <p>
            <span><small>RGBA: </small> rgba(178, 235, 242, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#B2EBF2</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <h1 class="heading">Gray</h1>
  <div class="row">
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #8C8C8C"></div>
        <div class="col-text">
          <p>Dark 1</p>
          <p>
            <span><small>RGBA: </small> rgba(140, 140, 140, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#8C8C8C</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #989898"></div>
        <div class="col-text">
          <p>Dark 2</p>
          <p>
            <span><small>RGBA: </small> rgba(152, 152, 152, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#989898</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #A9A9A9"></div>
        <div class="col-text">
          <p>Light 1</p>
          <p>
            <span><small>RGBA: </small> rgba(169, 169, 169, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#A9A9A9</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #C0C0C0"></div>
        <div class="col-text">
          <p>Light 2</p>
          <p>
            <span><small>RGBA: </small> rgba(192, 192, 192)</span>
          </p>
          <p>
            <span><small>HEX: </small>#C0C0C0</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #D8D8D8"></div>
        <div class="col-text">
          <p>Light 3</p>
          <p>
            <span><small>RGBA: </small> rgba(216, 216, 216)</span>
          </p>
          <p>
            <span><small>HEX: </small>#D8D8D8</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #e8e8e8"></div>
        <div class="col-text">
          <p>Light 4</p>
          <p>
            <span><small>RGBA: </small> rgba(232, 232, 232, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#E8E8E8</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <h1 class="heading">System</h1>
  <div class="row">
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #C62827"></div>
        <div class="col-text">
          <p>Danger</p>
          <p>
            <span><small>RGBA: </small> rgba(198, 40, 39, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#C62827</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #FFD950"></div>
        <div class="col-text">
          <p>Warning</p>
          <p>
            <span><small>RGBA: </small> rgba(255, 217, 80, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#FFD950</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #30DCFC"></div>
        <div class="col-text">
          <p>Light 3</p>
          <p>
            <span><small>RGBA: </small> rgba(48, 220, 252)</span>
          </p>
          <p>
            <span><small>HEX: </small>#30DCFC</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="color_item">
        <div class="col-box" style="background-color: #14E98D"></div>
        <div class="col-text">
          <p>Light 5</p>
          <p>
            <span><small>RGBA: </small> rgba(20, 233, 141, 1)</span>
          </p>
          <p>
            <span><small>HEX: </small>#14E98D</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
