<div class="xotb-view-container">
  <h1 class="heading"><strong>Fileupload</strong></h1>
  <p class="description">
    This tool facilitates you to upload the content (placed offline) from your
    device to your web application (online).
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <xotb-file-upload
          label="Attachment"
          [formControl]="ctrl"
          [accept]="['image/*', 'application/pdf', '.mp3']"
          maxFiles="2"
          maxFilesize="1048576"
          [error]="ctrl.invalid ? errorTpl : null"
        ></xotb-file-upload>

        <div *ngIf="ctrl.valid">
          <div *ngFor="let file of ctrl.value">{{ file.name }}</div>
        </div>

        <ng-template #errorTpl>
          <ng-container *ngIf="ctrl.errors['required']"
            >Please select a file.</ng-container
          >
          <ng-container *ngIf="ctrl.errors.xotbFileUpload?.invalidType as file"
            >Oh no, invalid type<b> {{ file.type }}</b> for "{{
              file.name
            }}"!</ng-container
          >
          <ng-container *ngIf="ctrl.errors.xotbFileUpload?.maxFilesize as file"
            >"{{ file.name }}" is bigger than 1MB!</ng-container
          >
          <ng-container *ngIf="ctrl.errors.xotbFileUpload?.maxFiles"
            >Too many files selected!</ng-container
          >
        </ng-template>
      </div>
    </xotb-panel>
  </div>
</div>
