<div class="xotb-view-container">
  <h1 class="heading"><strong>Progress Bar</strong></h1>
  <p class="description">
    Progress Bars inform the users about the status of ongoing processes, such
    as the loading of an app, submitting a form, or saving the updates. They
    communicate an app’s state and indicate the available actions, such as
    whether the users can navigate away from the current screen.
  </p>
  <div class="xotb-panel-container">
    <xotb-panel open="true" title="Example">
      <div class="panel-view">
        <div>
          <div>
            <span aria-hidden="true"
              ><strong>{{ value }}% Complete</strong></span
            >
          </div>
          <br />
          <xotb-progress-bar
            [value]="value"
            [size]="size"
            [variant]="variant"
          ></xotb-progress-bar>
        </div>
        <br />
        <div style="height: 50px;">
          <div>
            <button
              type="button"
              xotbButton
              variant="outline-brand"
              (click)="random()"
            >
              Randomize
            </button>
            <button
              type="button"
              xotbButton
              variant="outline-brand"
              (click)="changeVariant()"
            >
              Change Variant
            </button>
            <button
              type="button"
              xotbButton
              variant="outline-brand"
              (click)="changeSize()"
            >
              Change Size
            </button>
          </div>
        </div>
      </div>
    </xotb-panel>
  </div>
</div>
